@import url("./checkBoxStyle.css");
:root {
 --main-red: #DD2B2B;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.buttons {
    border: none;
    height: 46px;
    width: 170px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: var(--main-red);
    box-shadow: 0px 2px 0px #A32929;
    border-radius: 6px;
    color: #fff;
}
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.headerTop, .headerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerBottom {
    background-color: var(--main-red);
    height: 81px;
}
.headerBottom .mainWrapper {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.mainWrapper {
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topHeader {
    height: 114px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px
}
.logo h1 {
    font-weight: 500;
    font-size: 23.3489px;
    line-height: 28px;
}
.logo h1 span {
    color: var(--main-red);
}
.logo h2 {
    font-weight: 400;
    font-size: 13.8px;
    line-height: 17px;
}
.adress-workingHours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.adress {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    gap: 10px;
}
.workingHours {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    gap: 10px;
}
.headerContacts {
    display: flex;
}
.contacts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
}
.mail {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    gap: 10px;
}
.phone {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    gap: 10px;
}
.headerBottom .mainWrapper {
    display: flex;
    flex-direction: row;
}
nav {
    max-width: 675px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav li {
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
nav li a {
    color: #fff;
    text-decoration: none;
}
nav li a:active {
    color: #fff;
}
.headerBottom button {
    background-color: #fff;
    color: #000;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quality-calculate {
    display: flex;
    justify-content: center;
    min-height: 487px;
    height: 100%;
    width: 100%;
    background-image: url("./img/backgroundImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.quality-calculate .mainWrapper{
    flex-direction: row;
    justify-content: space-between;
}
.quality {
    background-color: rgba(255, 255, 255, 0.85);
    max-height: 254px;
    max-width: 596px;
    height: 100%;
    width: 100%;
    padding-left: 40px;
    padding-top: 50px;
}
.quality h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
.quality h2 span {
    color: var(--main-red);
}
.quality h3 {
    margin-top: 21.56px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
}
.calculate {
    margin-top: -9px;
    background-color: rgba(255, 255, 255, 0.85);
    max-height: 379px;
    max-width: 392px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.calculateWrapper {
    max-width: 302px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calculate h2 {
    margin-top: 42px;
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}
.calculate .inputBar {
    margin-top: 20px;
    width: calc(100% - 44px);
    height: 63px;
    padding: 0 22px;
    border: 1px solid #DEDEDE;
    background: transparent;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.calculate button {
    width: 100%;
    height: 63px;
    margin-top: 11px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.catalog {
    margin-top: 87.39px;
    display: flex;
    justify-content: center;
}
.catalog h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
}
.blocks {
    margin-top: 37.89px;
    max-width: 610px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.blocks img {
    border: 8px solid #F7F7F7;
}
.leftBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftBlock span {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #353535;
}
.leftBlock img {
    margin-top: 27px;
}
.leftBlock button {
    margin-top: 32px;
    width: 142px;
}
.rightBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightBlock span {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #353535;
}
.rightBlock img {
    margin-top: 27px;
    padding-bottom: 22px;
}
.rightBlock button {
    width: 142px;
    margin-top: 33px;
}
.popular {
    margin-top: 91px;
    display: flex;
    justify-content: center;
    min-height: 610px;
    height: 100%;
    width: 100%;
    background-color: #F1F1F1;
}
.popular h3 {
    margin-top: 54px;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
}
.popular-items {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.popular-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular-item .description {
    margin-top: 25px;
    width: 233px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.popular-item .price {
    margin-top: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.popular-item button {
    margin-top: 5px;
    width: 142px;
}
.production {
    margin-top: 87px;
    display: flex;
    justify-content: center;
}
.production h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
}
.production-items {
    margin-top: 27px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about {
    display: flex;
    justify-content: center;
    margin-top: 82px;
}
.about h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
}
.about p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}
.about .advantages-items {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.usage {
    background-image: linear-gradient(rgba(221, 43, 43, 0.9), rgba(221, 43, 43, 0.9)), url("./img/usageBackground.png");
    background-position: top;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    margin-top: 100px;
    min-height: 375px;
    display: flex;
    justify-content: center;
}
.usage h3 {
    margin-top: 58px;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}
.usage .usage-items {
    margin-top: 29px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usage .usage-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.usage .usage-item span {
    margin-top: 18px;
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #fff;
}
.usage .usage-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #fff;
}
.licenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 79px;
}
.licenses h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
}
.licenses .licenses-items {
    width: 100%;
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}
.popularGoods {
    min-height: 311px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("./img/popularGoodsBackground.png");
    background-position: top;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popularGoods h3 {
    margin-top: 57px;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
}
.popularGoods-items {
    width: 100%;
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
.popularGoods-item {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.popularGoods-item span {
    margin-top: 20px;
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
}