:root {
 --main-red: #DD2B2B;
}
* {
    padding: 0;
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.button {
    border: none;
    height: 46px;
    width: 170px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: var(--main-red);
    box-shadow: 0px 2px 0px #A32929;
    border-radius: 6px;
    color: #fff;
}
.headerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.topHeader {
    margin-top: 31.23px;
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {

}
.logo h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23.3489px;
    line-height: 28px;
}
.logo h1 span {
    color: var(--main-red);
}
.logo h2 {
    margin-top: 5.61px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13.8px;
    line-height: 17px;
}
.adress-workingHours {
    display: flex;
    flex-direction: column;
}
.adress {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.workingHours {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.headerContacts {
    display: flex;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mail {

}
.phone {

}
.requestCallButton {

}
.nav-bar {

}
.header-bottom {

}